html{
    /* master scrolling */
    scroll-behavior: smooth; 
}
/* fix overflow for mobile */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}


h1, p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


.para1, .intro, #para2, #gallery, #prices, #about{
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    font-family: 'western';

    justify-content: center;
    align-content: center;

    display: block;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#about{
    background-color: black;
    background-image: url("./assets/imgs/image.png");    


}

.social{
    width:100%;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    margin-right: 200px;
    /* padding: 5px; */
}
#gallery{
    background-image: url('./assets/imgs/carterspictures/murashkame-cBw5Fis0sw8-unsplash.jpg');
    position: relative;
}
.gallery-headline{
    position: absolute;
    height: 10%;
    line-height: 10%;
    text-align: center;
    padding: 20px;
    top: 10%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.gallery-container{
    max-width: 100%;
    display: flex;
    background: black;
    color: #faebd7;
    height: 40vh;
    position: relative;
    top: 40vh;
}
.gallery-select{
    flex:1;
}
#prices{
    /* background-image: url('./assets/carterspictures/deer-looking-feeder.JPG') */
    background-color: black;
}

.text-container{
    text-align: justify;

}



.para1{
    background-image: url("./assets/imgs/mobile/deer-family-resize.png");
    overflow: hidden;

}

#para2{
    background-image: url('./assets/imgs/deer.jpeg');
}
.linkcontainer{
   height: auto;
   margin-top: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 300;
   display: flex;
   justify-content: center;
   /* width: 100%; */
   line-height: normal;
   
}

.linkto{    
    text-decoration: none;
    background: rgba(0,0,0,0.6);
    color:white;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    height: 20px;
    flex:1;
}




.header{
    background-size: cover; 
    padding: 20px;
    height: 42vh;
    width:100%;
    
}




.headline-container{
    background: rgba(0,0,0,0.4);
    width: 44%;
    display: inline-block;
    padding:5%;
    margin-top: 10%;
    margin-left: 30%;
    /* margin-right: 15%;  */
    color: white;
    font-size: 10vh;
    /* text-align: center; */
    /* transition-delay: 2s; */

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.headline {
    text-align: center
}



.intro{
    background-image: url("./assets/image.png");    
}

.container{
    /* background-color: #faebd7; */
    color: white;
    display: inline-block;
    padding: 5%;
    /* width is fugly, gotta go */
    width: 50%;
    height: 50%;
    margin-top:10%;
    position: relative;
    
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://www.transparenttextures.com/patterns/purty-wood.png"); */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





@keyframes example {
    0%   {background-image: url('./assets/imgs/accomodations.jpeg');}
    25%  {background-image: url('./assets/imgs/carterspictures/blackbuck.JPG');}
    50%  {background-image: url('./assets/imgs/carterspictures/deer-drinking.JPG');}
    100% {background-image: url('./assets/imgs/carterspictures/deer-looking-feeder.JPG');}
  }
  
  /* The element to apply the animation to */
  .para1 {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    animation-name: example;
    animation-duration: 10s;
  }

  @media only screen and (max-width: 600px) {
      html, body{
        overflow-x: hidden; 
      }
      .headline-container{
        font-size: 48px;
      }
    .para1 {
      background-image: url('./assets/imgs/mobile/blackbuck-resize.png');
    }
    .linkcontainer{
        flex-wrap: wrap;
    }
    .linkto{
        white-space: pre;
    }
    .social-container{
        margin-top: 10px;
        display: inline-flex;
        background-color: rgb(0,0,0,0.3);
        padding: 15px;
    }
    .container{
        width: auto;
    }
  }
