body{
    background-color: black;

}
.test{
    position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
   width: auto;
}
.bodyClicked{
    background-color: black;
    height: 100vh;
    width: 100vh;
}
.left{
    float: left;
    background-color: red;
    height: 50px;
    width: 50px;
    margin-right: 50px;
}
.right{
    float: right;
    background-color: green;
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
.containerGallery{
    display: inline-block;
}
.clearFix{
    overflow: auto;
}