body{
    height: 100vh;
    /* display: flex; */
    padding: 20px;
    text-align: center;
    background-image: url('../imgs/carterspictures/murashkame-cBw5Fis0sw8-unsplash.jpg');
    /* background-size: auto; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
img{
    max-width: 100%;
    max-height: 100%;
}

.s-image{
    /* height : 'auto'; */
    width : '40%';
}

.images{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
    
    /* Then we define how is distributed the remaining space */
   
    /* height: 90vh; */
}

.single-image{
    background-color: rgba(0,0,0, 0.54);
    /* margin: 5px; */
    /* margin-top: 5px */
    flex: 0 1 24%;
 
}

@media only screen and (max-width: 600px) {
    .images{
        display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       width: 100%;
    }

    .s-image{
        width: 100%;
        height: auto;
    }
}