html{
    /* master scrolling */
    scroll-behavior: smooth; 
}


h1, p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


.para1, .intro, #para2, #gallery, #prices, #about{
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    font-family: 'western';

    justify-content: center;
    align-content: center;

    display: block;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#about{
    background-color: black;
    background-image: url("./assets/image.png");    


}

.social{
    width:100%;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    margin-right: 200px;
    /* padding: 5px; */
}
#gallery{
    background-image: url('./assets/carterspictures/murashkame-cBw5Fis0sw8-unsplash.jpg');
    position: relative;
}
.gallery{
    position: absolute;
    height: 10%;
    line-height: 10%;
    /* text-align: center; */
    padding: 20px;
    top: 10%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
#prices{
    /* background-image: url('./assets/carterspictures/deer-looking-feeder.JPG') */
    background-color: black;
}

.text-container{
    text-align: justify;

}



.para1{
    background-image: url("./assets/Lake.jpg");
    overflow: hidden;

}

#para2{
    background-image: url('./assets/deer.jpeg');
}
.linkcontainer{
   margin-top: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 300;
   display: flex;
   justify-content: space-between;   
   width: 100%;
   
}

.linkto{    
    text-decoration: none;
    background: rgba(0,0,0,0.6);
    color:white;
    font-size: 20px;
    margin: 5px;
    padding: none;
}




.header{
    background-size: cover; 
    padding: 20px;
    height: 42vh;
    width:100%;
    
}




.headline-container{
    background: rgba(0,0,0,0.6);
    width: 50%;
    display: inline-block;
    padding:5%;
    margin-top: 10%;
    /* margin-right: 15%;  */
    color: white;
    font-size: 20vh;
    /* transition-delay: 2s; */

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.headline {
    text-align: left
}



.intro{
    background-image: url("./assets/image.png");    
}

.container{
    background-color: #faebd7;
    display: inline-block;
    padding: 5%;
    width: 50%;
    height: 50%;
    margin-top:10%;
    position: relative;
    
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





@keyframes example {
    0%   {background-image: url('./assets/deer.jpeg');}
    25%  {background-image: url('./assets//Lake.jpg');}
    50%  {background-image: url('./assets/accomodations.jpeg');}
    100% {background-image: url('./assets/Lake.jpg');}
  }
  
  /* The element to apply the animation to */
  .para1 {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    animation-name: example;
    animation-duration: 10s;
  }